[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CCA"]
	path = CCA
	url = https://github.com/cran/CCA
[submodule "WallomicsData"]
	path = WallomicsData
	url = https://github.com/cran/WallomicsData
